<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.CustomerDao">

    <resultMap type="com.model.Customer" id="customerMap">
        <id property="id" column="ID"/>
        <result property="userId" column="USER_ID"/>
        <result property="birthday" column="BIRTHDAY"/>
    </resultMap>

    <select id="findCustomerByUserId" parameterType="java.lang.String" resultMap="customerMap">
        SELECT * FROM customer WHERE USER_ID = #{userId}
    </select>
</mapper>